body {
    font-family: "Raleway";
    text-align: center !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
}
p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}



/*------------------------- Navigation Bar */
.navbar {
    padding: 2.5rem 4.5rem 3.5rem 4.5rem !important;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem !important;
    font-weight: bold !important;
}
.nav-item {
    padding: 0 18px !important;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

.title-bottom{
    padding: 20px 10px 30px 70px;
    }

/* image */
.title-image {
    width: 80%;
    position: relative;
    margin-bottom: -140px;
    
    
}

/*------------------------------- section  nav bar */
.title-section {
    background-color: #4ceaff;
    color: #fff;
}
.green-section {
    padding: 150px 150px 0px 150px;
    background-color: rgb(8, 95, 19);
}

/*-------------------------------- Feature parts */
#feature{
    position: absolute;
    display: flexbox;
    justify-content: center !important;
    align-items: center;
    text-align: right;
    box-sizing: border-box;
}
.feature-title {
    font-size: 1.5rem;
}
.feature-box {
    padding: 4.5%;
    color: #fff;
    
}
.icon{
    color: #4ceaff;
    margin-bottom: 1rem;
}
.icon:hover {
    color: #0066ff;
}
